:root {
  --cc-bg: hsl(0, 0%, 95%);
  --cc-text: hsl(240, 100%, 50%);
  --cc-btn-primary-bg: hsl(19, 100%, 41%);
  --cc-btn-primary-text: hsl(0, 0%, 100%);
  --cc-btn-primary-hover-bg: hsl(19, 100%, 60%);
  --cc-btn-secondary-bg: hsl(240, 100%, 50%);
  --cc-btn-secondary-text: hsl(0, 0%, 100%);
  --cc-btn-secondary-hover-bg: hsl(240, 100%, 60%);
  --cc-cookie-category-block-bg: hsl(0, 0%, 95%);
  --cc-cookie-category-block-bg-hover: hsl(0, 0%, 95%);

  .cc_div .cc-link {
    color: var(--cc-text);
    border-color: transparent;
  }

  .cc_div .cc-link:active, .cc_div .cc-link:hover, .cc_div .cc-link:focus {
    border-color: var(--cc-text);
  }

  #s-bl .c-bl.b-ex {
    border: 2px solid hsl(240, 100%, 50%);
  }

  #s-bl .b-bn .exp::before {
    border-color: hsl(240, 100%, 50%);
  }
}
